<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> <%# links the stylesheet to the html  %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> <%# don't need javaScript at the end - defer: true tells this line to load AFTER the html has loaded  %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
